.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.get-started {
  font-family: "Montserrat-Medium";
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  background: linear-gradient(to right, #4a44d6, #15a9bc);
  height: 50px;
  width: 120px;
}
